[submodule "firmware"]
	path = firmware
	url = https://github.com/mirkosms/IntelliLight-Firmware.git
[submodule "app"]
	path = app
	url = https://github.com/mirkosms/IntelliLight-App.git
[submodule "IntelliLight-App"]
	path = IntelliLight-App
	url = https://github.com/mirkosms/IntelliLight-App.git
