[submodule "firmware"]
    path = firmware
    url = https://github.com/mirkosms/IntelliLight-Firmware.git

[submodule "app"]
    path = app/IntelliLight-App
    url = https://github.com/mirkosms/IntelliLight-App.git

